/* Root Variables */
:root{
    --dark: #0f0e47;
    --accent: #272757;
    --highlight: #505081;
    --light: #d5d5e6;
    --hover1: #59B5F7;
    --hover2: #305cde;

    --fs-50: 50px;
    --fs-35: 35px;
    --fs-30: 30px;
    --fs-20: 20px;
    --fs-18: 18px;
    --fs-16: 16px;
    --fs-14: 14px;

    --shadow-container: 0 10px 4px rgba(0,0,0,0.1);
    --shadow-img: 10px 10px 10px rgba(0,0,0,0.15);
    --shadow-text: 2px 2px 5px rgba(0, 0, 0, 0.2); 
}

/* Group */
.navbar-logo,
.about-heading h2,
.projects-heading h2,
.contact-heading h2,
.footer-heading{
    font-size: var(--fs-35);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.about-heading2,
.st-heading,
.projects-heading h3,
.projects-wrapper h3{
    font-size: var(--fs-30);
}
.navbar-navigation a,
.social-links-heading,
.contact-heading h3{
    font-size: var(--fs-20);
}
.hero-description,
.about-description1,
.about-description2,
.st-container2 figcaption,
.latest-projects figcaption,
.projects-container figcaption,
.social-links-list a,
.footer-description,
.footer-container2 a,
.footer-container3 a{
    font-size: var(--fs-18);
}
.hero-btn a, .cp-btn button{
    font-size: var(--fs-16);
}
.update-container{
    background-color: var(--dark);
}
.projects,
.contact{
    background: linear-gradient(180deg, var(--accent), var(--dark));
}
.navbar-logo,
.navbar-navigation a,
.hero-heading,
.hero-description,
.about-heading h2,
.about-heading2,
.about-description1,
.about-description2,
.st-heading,
.st-container2 figcaption,
.footer-heading,
.footer-description,
.footer-container2 a,
.footer-container3 a{
    color: var(--dark);
}
.projects-heading h2,
.projects-heading h3,
.latest-projects figcaption,
.projects-wrapper h3,
.projects-container figcaption,
.contact-heading h2,
.contact-heading h3,
.cp-container label,
.social-links-heading,
.social-links-list a,
.update-info{
    color: var(--light);
}
.navbar-navigation a:hover,
.social-links-list a:hover,
.footer-container2 a:hover,
.footer-container3 a:hover{
    color: var(--hover1);
}
.projects,
.contact,
.update-container{
    box-shadow: var(--shadow-container);
}
.hero img,
.about-image img,
.projects-container img,
.cp-container input,
.cp-container textarea{
    box-shadow: var(--shadow-img);
}
.about,
.projects,
.contact{
    padding: 5rem 0;
}

/* Global */
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing:border-box;
}
body{
    background: linear-gradient(135deg, var(--light), var(--highlight));
    text-shadow: var(--shadow-text);
    font-family: "Inter", sans-serif;
}
section{
    scroll-margin-top: 100px;
}
main{
    position: relative;
    z-index: 2;
    background: linear-gradient(135deg, var(--light), var(--highlight));
    margin-bottom: 450px;
}

/* Additional */
.hr-1{
    border: 0.5px solid black;
    margin: 4rem 5%;
    border-color: var(--light);
}
.hr-2{
    border: 0.5px solid black;
    margin: 4rem 5%;
    border-color: var(--accent);
}
.highlight1{
    color: var(--hover1) !important;
    font-weight: 700;
}

/* Navbar */
.navbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: 0.5s;
}
.navbar-navigation a{
    display: inline-block;
    transition: transform 0.3s ease;
}
.navbar-navigation a:hover{
    color: var(--hover2);
    transform: scale(1.2)
}
.navbar-container.animation{
    transition: 0.5s;
    position: fixed;
    width: 100%;
    background-color: var(--dark);
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}
.navbar-container.animation a{
    color: var(--light);
}
.navbar-container.animation .navbar-navigation a:hover {
    color: var(--hover1);
    transform: scale(1.2);
}
.navbar-container.animation .burger span{
    background-color: var(--light);
}
.navbar-logo{
    text-decoration: none;
    font-weight: bold;
}
.navbar-navigation{
    list-style-type: none;
    display: flex;
    margin-left: auto;
    gap: 40px;
}
.navbar-navigation a{
    text-decoration: none;
}
/* Dropdown Menu */
/* Burger */
.burger {
    position: relative;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    display: none;
}
.burger span {
    width: 25px;
    height: 3px;
    background-color: var(--dark);
}
/* Overlay (background dim) */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    z-index: 1000;
}
/* Slide Menu */
.mobile-menu {
    position: fixed;
    height: 100%;
    width: 200px;
    background: var(--dark);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1001;
    opacity: 0.9;
}
.mobile-menu a {
    color: var(--light);
    text-decoration: none;
}
.mobile-menu.active { /* Active State */
    transform: translateX(0);
}
.overlay.active {
    opacity: 1;
    visibility: visible;
}

/* Hero */
/* Hero Text */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 0 0;
    gap: 3rem;
    z-index: 1;
    position: relative;

    background-image: url("image/Profile_Picture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    height: 100svh;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(213, 213, 240, 0.7);
    height: 100%;
    width: 100%;
    z-index: 1;
}
.hero-container{
    z-index: 2;
}
.hero-heading{
    font-size: var(--fs-50);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}
.hero-description{
    max-width: 700px;
    text-align: center;
    padding: 2rem 0;
}
/* Hero Button */
.hero-btn{
    text-align: center;
}
.hero-btn button{
    padding: 10px;
    border-radius: 15px;
    background-color: var(--dark);
    color: var(--light);
    transition: transform 0.3s ease;
    box-shadow: 0 0 20px rgb(48, 92, 222);
}
.hero-btn a{
    text-decoration: none;
    color: var(--light);
}
.hero-btn button:hover{
    background-color: var(--hover1);
    transform: translateY(-10px);
}
.hero-btn button:hover a{
    color: var(--dark);
}

/* Projects */
.projects-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.projects-heading h2{
    font-weight: normal;
}
/* Latest Projects */
.latest-projects figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0 0;
    transition: 0.5s;
}
.latest-projects img{
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
}
.latest-projects figure:hover{
    transform: scale(1.1)
}
/* Featured Projects */
.projects-wrapper h3{
    padding: 0 5% 4rem;
    font-weight: normal;
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 3rem;
}
.projects-container article{
    transition: transform 0.5s ease;
}
.projects-container article:hover{
    transform: translateY(-20px);
}
.projects-container img{
    max-width: 350px;
    width: 100%;
    border-radius: 10px;
}
.projects-container figcaption{
    padding-top: 1rem;
}
.projects-container figcaption:hover{
    color: var(--hover1);
}

/* About */
/* Bio */
.about-heading{
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}
.about-heading h2{
    font-weight: normal;
}
.about-container1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: justify;
}
.about-image img{
    max-width: 350px;
    width: 100%;
    border-radius: 60px;
}
.about-heading2{
    margin-bottom: 1rem;
}
.about-description1,
.about-description2{
    max-width: 650px;
}
.about-description1{
    margin-bottom: 2rem;
}
/* Skill & Tools Icon */
.st-heading{
    display: flex;
    justify-content: center;
}
.st-container2{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.st-container2 li{
    list-style-type: none;
    padding-top: 4rem;
    transition: 0.5s;
}
.st-container2 img{
    width: 60px;
    height: 60px;
}
.st-container2 li:hover{
    transform: scale(1.3);
}

/* Contact */
/* Contact Header */
.contact-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 0 1rem 5rem;
}

/* Contact Input Form */
.contact-text{
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    gap: 3rem;
}
.contact-placeholder{
    display: flex;
    flex-direction: column;
    align-items: center
}
.cp-input1,
.cp-input2,
.cp-input3{
    margin-bottom: 1rem;
}
.cp-container input,
.cp-container textarea{
    width: 100%;
    height: 30px;
    border-width: 1px;
    border-radius: 5px;
}
.cp-input1{
    display: flex;
    gap: 1rem;
}
.text{
    flex: 1;
}
.cp-container textarea{
    height: 150px;
}
/* Contact Information */
.social-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.social-links-list ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.social-links-list li{   
    list-style-type: none;
}
.social-links-list a{
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}
.social-links-list img{
    width: 30px;
    transition: transform 0.3s ease;
}
.social-links-list img:hover{
    transform: scale(1.3)
}
/* Button */
.cp-btn{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
}
.cp-btn button{
    padding: 10px;
    border-radius: 15px;
    background-color: var(--dark);
    color: var(--light);
    transition: transform 0.3s ease;
    box-shadow: 2px 2px 6px rgb(0, 0, 0);
}
.cp-btn button:hover{
    background-color: var(--hover1);
    color: var(--accent);
    transform: translateY(-10px);
}

/* Footer */
footer{
    padding-bottom: 2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -1;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 4rem 6rem;
    gap: 3rem;
}
.footer-container1,
.footer-container2,
.footer-container3{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-description{
    max-width: 700px;
    text-align: justify;
}
.footer-container2 li,
.footer-container3 li{
    list-style-type: none;
    margin-left: 5px;
    margin-bottom: 0.5rem;
}
.footer-container2 a,
.footer-container3 a{
    text-decoration: none;
}

/* Update Info*/
.update-container{
    border-radius: 30px;
    margin: 0 2rem;
}
.update-info{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

/* Mobile Responsive Settings */
@media(max-width: 1200px){
    /* Projects */
    .projects-wrapper{
        overflow: hidden;
        width: 100%;
    }
    .projects-wrapper h3{
        text-align: center;
    }
    .projects-container{
        display: flex;
        gap: 0;
        transition: transform 0.5s ease;
    }
    .projects-container article{
        flex: 0 0 100%;
    }

    /* About */
    /* Skills & Tools */
    .st-container2 img{
        width: 50px;
        height: 50px;
    }
}
@media(max-width: 1024px){
    /* Hero */
    .hero-container{
        order: 2;
    }
    .hero-heading,
    .hero-description{
        margin: 0 1rem;
    }
    .hero-btn{
        display: flex;
        justify-content: center;
    }

    /* About */
    .about-container1{
        flex-direction: column;
        align-items: center;
    }
    .about-image img{
        max-width: 250px;
        width: 100%;
    }
    .about-heading2,
    .about-description1,
    .about-description2{
        margin: 1rem 1rem 0;
    }
    .about-description1{
        margin-bottom: 2rem;
    }
}
@media(max-width: 768px){
    /* Global */
    main{
        margin-bottom: 0;
    }
    /* Hero */
    .hero{
        background-attachment: scroll;
    }

    /* projects */
    .projects-wrapper h3{
        text-align: center;
    }
    .latest-projects img{
        max-width: 450px;
        width: 100%;
    }
    .projects-container img{
        max-width: 350px;
        width: 100%;
    }

    /* Skill and Tools */
    .st-wrapper{
        overflow: hidden;
        width: 100%;
    }
    .st-container2{
        display: flex;
        gap: 0;
        transition: transform 0.5s ease;
    }
    .st-container2 li{
        flex: 0 0 100%;
    }

    /* Footer */
    footer{
        position: relative;
    }
    .footer-wrapper{
        flex-direction: column;
    }
}
@media(max-width: 600px){
    /* Navbar */
    .navbar-navigation a{
        display: none;
    }
    /* Dropdown Menu */
    .burger {
        display: flex;
    }

    /* Contact Text */
    .contact-text{
        flex-direction: column;
    }
    /* Contact Information */
    .social-links-list ul{
        flex-direction: row;
        gap: 2rem;
    }
    .social-links-list span{
        display: none;
    }
}
@media(max-width: 480px){
    /* Group */
    .navbar-logo,
    .about-heading h2,
    .projects-heading h2,
    .contact-heading h2,
    .footer-heading{
        font-size: var(--fs-30);
    }
    .about-heading2,
    .st-heading,
    .projects-heading h3,
    .projects-wrapper h3,
    .contact-heading h3{
        font-size: var(--fs-20);
    }
    .navbar-navigation a,
    .st-container2 figcaption,
    .latest-projects figcaption,
    .projects-container figcaption,
    .social-links-list a,
    .social-links-heading,
    .footer-description,
    .footer-container2 a,
    .footer-container3 a
    {
        font-size: var(--fs-16);
    }
    .hero-description,
    .about-description1,
    .about-description2{
        font-size: var(--fs-14);
    }

    /* Global */
    section{
        scroll-margin-top: 80px;
    }

    /* Hero */
    .hero-heading{
        font-size: var(--fs-35);
    }

    /* About */
    .about-image img{
        max-width: 200px;
        width: 100%;
    }

    /* Projects */
    .latest-projects img{
        max-width: 300px;
        width: 100%;
    }
    .projects-container img{
        max-width: 250px;
        width: 100%;
    }

    /* Footer */
    .update-info{
        font-size: 10px;
    }
}