/* Root Variables */
:root{
    --dark: #0f0e47;
    --accent: #272757;
    --highlight: #505081;
    --light: #d5d5e6;
    --hover1: #305cde;
    --hover2: #59B5F7;

    --fs-h1: 60px;
    --fs-h2: 45px;
    --fs-h3: 35px;
    --fs-nav-footer: 25px;
    --fs-fc-desc: 20px;
    --fs-s: 18px;
    --fs-xs: 16px;

    --shadow-container: 0 10px 4px rgba(0,0,0,0.1);
    --shadow-img: 10px 10px 10px rgba(0,0,0,0.15);
    --shadow-text: 2px 2px 3px rgba(0, 0, 0, 0.2); 
}

/* Group */
.navbar-logo,
.about-heading,
.projects-heading h2,
.contact-heading h2,
.footer-heading{
    font-size: var(--fs-h2);
}
.about-heading1,
.st-heading,
.projects-heading h3,
.projects-wrapper h3,
.contact-heading h3{
    font-size: var(--fs-h3);
}
.navbar-navigation a,
.social-links-heading,
.footer-description,
.footer-container2 a,
.footer-container3 a{
    font-size: var(--fs-nav-footer);
}
.hero-description,
.about-description1,
.about-description2,
.st-container2 figcaption,
.latest-projects figcaption,
.projects-container figcaption,
.social-links-list a{
    font-size: var(--fs-fc-desc);
}
.hero-btn a, .cp-btn button{
    font-size: var(--fs-s);
}
.update-container{
    background-color: var(--dark);
}
.projects,
.contact{
    background: linear-gradient(180deg, var(--accent), var(--dark));
}
.navbar-logo,
.navbar-navigation a,
.hero-heading,
.hero-description,
.about-heading,
.about-heading1,
.about-description1,
.about-description2,
.st-heading,
.st-container2 figcaption,
.footer-heading,
.footer-description,
.footer-container2 a,
.footer-container3 a{
    color: var(--dark);
}
.projects-heading h2,
.projects-heading h3,
.latest-projects figcaption,
.projects-wrapper h3,
.projects-container figcaption,
.contact-heading h2,
.contact-heading h3,
.cp-container label,
.social-links-heading,
.social-links-list a,
.update-info{
    color: var(--light);
}
.navbar-navigation a:hover{
    color: var(--hover1);
}
.social-links-list a:hover,
.footer-container2 a:hover,
.footer-container3 a:hover{
    color: var(--hover2);
}
.projects,
.contact,
.update-container{
    box-shadow: var(--shadow-container);
}
.hero img,
.about-image img,
.projects-container img,
.cp-container input,
.cp-container textarea{
    box-shadow: var(--shadow-img);
}
.about,
.projects,
.contact{
    padding: 4rem 0;
}

/* Global */
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing:border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(135deg, var(--light), var(--highlight));
    text-shadow: var(--shadow-text);
}
section{
    scroll-margin-top: 110px;
}

/* Additional */
.hr-1{
    border: 0.5px solid black;
    margin: 4rem 5%;
    border-color: var(--light);
}
.hr-2{
    border: 0.5px solid black;
    margin: 4rem 5%;
    border-color: var(--accent);
}

/* Navbar */
.navbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    top: 0;
    z-index: 100;
    padding: 2rem;
    background-color: transparent;
}
.navbar-container.animation{
    position: fixed;
    width: 100%;
    background-color: var(--dark);
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}
.navbar-container.animation a{
    color: var(--light);
}
.navbar-container.animation a:hover{
    color: var(--hover2);
}
.navbar-container
.navbar-logo{
    text-decoration: none;
    font-weight: bold;
}
.navbar-navigation{
    list-style-type: none;
    display: flex;
    margin-left: auto;
    gap: 40px;
}
.navbar-navigation a{
    text-decoration: none;
}

/* Hero */
/* Hero Text */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem 1rem 4rem 1rem;
}
.hero-image img{
    width: 500px;
    border-radius: 250px;
}
.hero-heading{
    font-size: var(--fs-h1);
    margin: 2rem 0 1rem;
}
.hero-description{
    max-width: 700px;
    text-align: justify;
}
/* Hero Button */
.hero-btn{
    padding-top: 1.5rem;
}
.hero-btn button{
    padding: 10px;
    border-radius: 15px;
    background-color: var(--dark);
    color: var(--light);
    transition: transform 0.3s ease;
    box-shadow: 0 0 20px rgb(48, 92, 222);
}
.hero-btn a{
    text-decoration: none;
    color: var(--light);
}
.hero-btn button:hover{
    background-color: var(--hover2);
    transform: translateY(-10px);
}
.hero-btn button:hover a{
    color: var(--dark);
}

/* Projects */
.projects-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.latest-projects figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0 0;
}
.latest-projects img{
    width: 600px;
    border-radius: 10px;
}
.projects-wrapper h3{
    padding: 0 5% 4rem;
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 3rem;
}
.projects-container article{
    transition: transform 0.3s ease;
}
.projects-container article:hover{
    transform: translateY(-20px);
}
.projects-container img{
    width: 400px;
    max-width: 450px;
    border-radius: 10px;
}
.projects-container figcaption{
    padding-top: 1rem;
}
.projects-container figcaption:hover{
    color: var(--hover1);
}
.highlight1{
    color: var(--hover1);
}

/* About */
/* Bio */
.about-heading{
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}
.about-container1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: justify;
}
.about-image img{
    width: 350px;
    border-radius: 60px;
}
.about-heading1{
    margin-bottom: 1rem;
}
.about-description1,
.about-description2{
    max-width: 650px;
}
.about-description1{
    margin-bottom: 2rem;
}
/* Skill & Tools Icon */
.st-heading{
    display: flex;
    justify-content: center;
}
.st-container2{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.st-container2 li{
    list-style-type: none;
    padding-top: 4rem;
}
.st-container2 img{
    width: 60px;
    height: 60px;
}

/* Contact */
/* Contact Header */
.contact-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 0 1rem 5rem;
}
.highlight2{
    color: var(--hover2);
}
/* Contact Input Form */
.contact-text{
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    gap: 3rem;
}
.contact-placeholder{
    display: flex;
    flex-direction: column;
    align-items: center
}
.cp-input1,
.cp-input2,
.cp-input3{
    margin-bottom: 1rem;
}
.cp-container input,
.cp-container textarea{
    width: 100%;
    height: 30px;
    border-width: 1px;
    border-radius: 5px;
}
.cp-input1{
    display: flex;
    gap: 1rem;
}
.text{
    flex: 1;
}
.cp-container textarea{
    height: 150px;
}
/* Contact Information */
.social-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.social-links-list ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.social-links-list li{   
    list-style-type: none;
}
.social-links-list a{
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}
.social-links-list img{
    width: 30px;
    transition: transform 0.3s ease;
}
.social-links-list img:hover{
    transform: scale(1.3)
}
/* Button */
.cp-btn{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
}
.cp-btn button{
    padding: 10px;
    border-radius: 15px;
    background-color: var(--dark);
    color: var(--light);
    transition: transform 0.3s ease;
    box-shadow: 2px 2px 6px rgb(0, 0, 0);
}
.cp-btn button:hover{
    background-color: var(--hover2);
    color: var(--accent);
    transform: translateY(-10px);
}

/* Footer */
footer{
    padding-bottom: 2rem;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 4rem 6rem;
    gap: 3rem;
}
.footer-container1,
.footer-container2,
.footer-container3{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-description{
    max-width: 700px;
    text-align: justify;
}
.footer-container2 li,
.footer-container3 li{
    list-style-type: none;
    margin-left: 5px;
    margin-bottom: 0.5rem;
}
.footer-container2 a,
.footer-container3 a{
    text-decoration: none;
}

/* Update Info*/
.update-container{
    border-radius: 30px;
    margin: 0 2rem;
}
.update-info{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

/* Mobile Responsive Settings */
@media(max-width: 1200px){
    .st-container2 img{
        width: 50px;
        height: 50px;
    }

    /* Projects */
    .projects-wrapper{
        overflow: hidden;
        width: 100%;
    }
    .projects-container{
        display: flex;
        gap: 0;
        transition: transform 0.5s ease;
    }
    .projects-container article{
        flex: 0 0 100%;
    }
}
@media(max-width: 1024px){
    /* Hero */
    .hero{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-container{
        order: 2;
    }
    .hero-image img{
        width: 300px;
        order: 1;
    }
    .hero-heading{
        text-align: center;
    }
    .hero-description{
        text-align: justify;
        margin: 0 1rem;
    }
    .hero-btn{
        display: flex;
        justify-content: center;
    }

    /* About */
    .about-container1{
        flex-direction: column;
        align-items: center;
    }
    .about-image img{
        width: 250px;
    }
    .about-heading1,
    .about-description1,
    .about-description2{
        margin: 1rem 1rem 0;
    }
    .about-description1{
        margin-bottom: 2rem;
    }
}
@media(max-width: 768px){
    /* Navbar */
    .navbar-container{
        flex-direction: column;
        justify-content: center;
        padding-top: 1.5rem;
    }
    .navbar-logo{
        margin-left: 0;
        margin-bottom: 1rem;
    }
    .navbar-navigation{
        padding: 0;
        margin-right: 0;
        justify-content: center;
        width: 100%;
    }

    /* projects */
    .projects-wrapper h3{
        text-align: center;
    }
    .latest-projects img{
        width: 450px;
    }
    .projects-container img{
        width: 350px;
    }

    /* Skill and Tools */
    .st-wrapper{
        overflow: hidden;
        width: 100%;
    }
    .st-container2{
        display: flex;
        gap: 0;
        transition: transform 0.5s ease;
    }
    .st-container2 li{
        flex: 0 0 100%;
    }

    /* Footer */
    .footer-wrapper{
        flex-direction: column;
    }
}
@media(max-width: 600px){

    /* Contact Text */
    .contact-text{
        flex-direction: column;
    }
    /* Contact Information */
    .social-links-list ul{
        flex-direction: row;
        gap: 2rem;
    }
    .social-links-list span{
        display: none;
    }
}
@media(max-width: 480px){
    /* Group */
    .navbar-logo,
    .about-heading,
    .projects-heading h2,
    .contact-heading h2,
    .footer-heading{
        font-size: var(--fs-nav-footer);
    }
    .about-heading1,
    .st-heading,
    .projects-heading h3,
    .projects-wrapper h3,
    .contact-heading h3{
        font-size: var(--fs-fc-desc);
    }
    .navbar-navigation a,
    .st-container2 figcaption,
    .latest-projects figcaption,
    .projects-container figcaption,
    .social-links-list a,
    .social-links-heading,
    .footer-description,
    .footer-container2 a,
    .footer-container3 a
    {
        font-size: var(--fs-s);
    }
    .hero-description,
    .about-description1,
    .about-description2{
        font-size: var(--fs-xs);
    }

    /* Hero */
    .hero-heading{
        font-size: var(--fs-h3);
    }
    .hero-image img{
        width: 250px;
    }

    /* About */
    .about-image img{
        width: 200px;
    }

    /* Projects */
    .latest-projects img{
        width: 300px;
    }
    .projects-container img{
        width: 250px;
    }

    /* Footer */
    .update-info{
        font-size: 10px;
    }
}