/* Group */
:root{
    --dark: #0f0e47;
    --accent: #272757;
    --highlight: #505081;
    --light: #d5d5e6;
    --hover-bg: #305CDE;
    --hover-text: #182E6F;
    --hover-text1: #59B5F7;

    --fs-xl: 45px;
    --fs-lg: 40px;
    --fs-md-lg: 35px;
    --fs-md: 30px;
    --fs-sm-lg: 25px;
    --fs-sm: 20px;
    --fs-body: 18px;
    --fs-small: 16px;
    --fs-xs: 14px;
    --fs-xxs: 10px;

    --shadow-soft: 5px 5px 10px rgba(0,0,0,0.15);
    --shadow-medium: 10px 10px 10px rgba(0,0,0,0.15);
}
.navbar-logo,
.navbar-navigation,
.hero-heading,
.hero-description,
.about-heading,
.about-heading1,
.about-description1,
.about-description2,
.projects-heading,
.projects-container figcaption,
.contact-heading,
.contact-heading1,
.contact-heading2,
.footer-heading,
.footer-description,
.footer-container2 a,
.footer-container3 a,
.cp-input1 label,
.cp-input2 label,
.cp-input3 label {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
.about-heading,
.projects-heading,
.projects-heading1,
.contact-heading,
.contact-heading1 {
    font-size: var(--fs-xl);
    text-align: center;
}
.hero-image img,
.about-image img,
.projects-container img,
.cp-container input,
.cp-container textarea {
    border-radius: 10px;
    box-shadow: var(--shadow-medium);
}
.about-description1,
.about-description2{
    font-size: var(--fs-body);
    word-spacing: 5px;
}
.hero-heading,
.hero-description,
.projects-heading,
.projects-heading1,
.projects-container figcaption,
.footer-heading,
.footer-description,
.footer-container2 a,
.footer-container3 a{
    color: var(--dark);
}
.navbar-navigation a:hover,
.text-highlight2,
.footer-container2 a:hover,
.footer-container3 a:hover {
    color: var(--hover-text1);
}
.navbar-container,
.about,
.contact,
.update-info{
    box-shadow: 0 10px 6px rgba(0,0,0,0.1);
}
section{
    scroll-margin-top: 150px;
}
#Projects{
    scroll-margin-top: 210px;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(135deg, #e9e9f3, #7373a8);
    margin: 0;
}

/* Home */
/* Navbar Style*/
.navbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    flex-wrap: wrap;
    background-color: var(--accent);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.navbar-logo{
    font-size: var(--fs-lg);
    margin-left: 2rem;
    color: var(--light);
    text-decoration: none;
    font-weight: bold;
}
.navbar-navigation{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 4rem;
    margin-left: auto;
    margin-right: 3rem;
    font-size: var(--fs-sm-lg);
}
.navbar-navigation a{
    color: var(--light);
    text-decoration: none;
}
/* Hero Style */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.hero-image img{
    width: 400px;
    border-radius: 200px;
    margin: 15rem 0 7rem;
}
.hero-heading{
    max-width: 500px;
    margin-top: 10rem;
    font-size: var(--fs-xl);
}
.hero-description{
    font-size: var(--fs-sm-lg);
    text-align: justify;
    max-width: 500px;
}

/* About Me */
/* About Intro */
.about{
    background: linear-gradient(180deg, var(--accent), var(--dark));
    color: var(--light);
}
.about-heading{
    padding: 4rem 0 0 0;
}
.about-container1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.about-image img{
    width: 300px;
    margin: 2rem 0 0 0;
}
.about-heading1{
    margin: 3rem 0 0 2rem;
    font-size: var(--fs-sm-lg);
}
.about-description1,
.about-description2{
    margin: 1rem 2rem 4rem;
    max-width: 700px;
    text-align: justify;
}
/* About SkillS and TOOLS */
.st-heading{
    text-align: center;
    padding: 2rem;
    font-size: var(--fs-md);
}
.st-container2{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    font-size: var(--fs-body);
    padding: 0; 
    gap: 2rem;
    list-style-type: none;
}
.st-container2 img{
    margin-bottom: 1rem;
    width: 60px;
    height: 60px;
}
.st-container2 figcaption{
    font-size: var(--fs-body);
    margin-bottom: 5rem;
}

/* Projects style */
.projects-heading{
    font-weight: bold;
    font-size: var(--fs-xl);
    margin: 4rem 0;
}
.projects-heading1{
    font-size: var(--fs-md);
    margin: 3rem 0 6rem;
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    font-size: var(--fs-body);
    padding-bottom: 4rem;
    gap: 2rem;
}
.projects-container img{
    width: 90%;
}
.projects-container figcaption{
    font-size: var(--fs-sm-lg);
    margin-top: 1rem;
}
.projects-container figcaption:hover{
    color: var(--hover-bg);
}
.projects-container article{
    transition: transform 0.3s ease;
}
.projects-container article:hover{
    transform: translateY(-20px);
}
.text-highlight1{
    color: var(--hover-bg);
}

/* Contact style */
/* Contact Text */
.contact{
    background: linear-gradient(180deg, var(--accent), var(--dark));
    color: var(--light);
    padding: 0.5rem 0 0;
}
.contact-heading{
    padding: 5rem 0 0;
}
.contact-heading1{
    font-size: var(--fs-md);
    margin: 3rem 0;
}
.contact-text{
    display: flex;
    justify-content: center;
    gap: 3rem;
    max-width: 1000px;
    margin: 1rem auto;
}
.contact-description{
    text-align: justify;
    font-size: var(--fs-sm);
    margin: 0 0 3rem;
}
/* Contact Form */
.contact-placeholder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0 0;
    width: 100%;
    max-width: 600px;
}
.cp-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cp-container input,
.cp-container textarea{
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border-radius: 5px;
}
.cp-input1{
    display: flex;
    gap: 0.5rem;
}
.cp-container label {
    margin: 1rem 0 0;
    font-size: var(--fs-body);
    display: block;
}
.cp-input1 .text1,
.cp-input1 .text2{
    flex: 1;
}
.cp-input3 textarea{
    height: 150px;
}
.cp-btn{
    display: flex;
    justify-content: end;
    gap: 1rem;
    margin: 1rem 0 0;
}
.cp-btn button{
    font-size: var(--fs-xs);
    padding: 10px;
    background-color: var(--dark);
    color: var(--light);
    box-shadow: 5px 5px 6px rgba(0,0,0,0.15);
    border-radius: 15px;
    transition: transform 0.3s ease;
}
.cp-btn button:hover{
    background-color: var(--hover-bg);
    color: var(--hover-text);
    font-weight: bold;
    transform: translateY(-10px);
}
/* Contact Information */
.contact-heading2{
    text-align: center;
    margin: 3rem 0 0;
    font-size: var(--fs-md);
}
.social-links-list{
    list-style-type: none;
    padding: 1rem 0 0;
}
.social-links-list li{
    margin-bottom: 0.5rem;
}
.social-links-list a{
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: var(--light);
    font-size: var(--fs-sm);
}
.social-links-list a:hover{
    color: var(--hover-text1);
}
.social-links-list img{
    width: 30px;
    height: 30px;
    box-shadow: var(--shadow-soft);
    border-radius: 5px;
    transition: transform 0.3s ease;
}
.social-links-list img:hover{
    transform: scale(1.3);
}
/* Message style */
.sc-container{
    display: flex;
    justify-content: right;
    margin-right: 2.5rem;
    margin-bottom: 4rem;
}
.success-message{
    opacity: 0;
    color: #4a874a;
    font-weight: bold;
    transition: opacity 0.5s ease;
}
.success-message.show{
    opacity: 1;
}

/* Contact Style */
.footer{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 1% 0 10%;
    max-width: 100%;
}
.footer-heading{
    font-size: var(--fs-md);
    font-weight: bold;
}
.footer-description{
    font-size: var(--fs-sm-lg);
    font-weight: normal;
    max-width: 700px;
    text-align: justify;
}
.footer-container2 ul,
.footer-container3 ul{
    list-style-type: none;
    padding: 0;
}
.footer-container2 li,
.footer-container3 li{
     margin-bottom: 0.5rem;
}
.footer-container2 a,
.footer-container3 a{
    text-decoration: none;
    font-size: var(--fs-sm-lg);
}
/*update info*/
.update-container{
    padding: 30px 7%;
}
.update-info{
    background-color: var(--dark);
    border-radius: 30px;
    color: var(--light);
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    font-size: var(--fs-xs);
}

/* Mobile Responsive settings */
@media(max-width: 1200px){
    /* about */
    .about-container1{
        flex-direction: column;
        align-items: center;
    }
    .st-container2 img{
        width: 50px;
        height: 50px;
    }
    .st-container2 figcaption{
        font-size: var(--fs-body);
    }
}

@media(max-width: 1024px){
    /* navbar */
    .navbar-container{
        flex-direction: column;
        justify-content: center;
        padding-top: 1.5rem;
    }
    .navbar-logo{
        margin-left: 0;
    }
    .navbar-navigation{
        padding: 0;
        margin-right: 0;
        justify-content: center;
        width: 100%;
    }
    
    /* hero */
    .hero{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-container{
        order: 2;
        margin-bottom: 3rem;
    }
    .hero-image img{
        width: 300px;
        order: 1;
        margin-bottom: 5rem;
    }
    .hero-heading{
        text-align: center;
        margin: -3rem 2rem 1.5rem;
    }
    .hero-description{
        text-align: justify;
        margin: 0 2rem;
    }

    /* about */
    .about-description1,
    .about-description2{
        font-size: var(--fs-sm);
    }

    /* projects */
    .projects-wrapper{
        overflow: hidden;
        width: 100%;
    }
    .projects-container{
        display: flex;
        gap: 0;
        transition: transform 0.5s ease;
    }
    .projects-container article{
        flex: 0 0 100%;
    }

    /* contact */
    .contact-text{
        margin: 3rem 2rem;
    }
    .social-links-list{
        padding: 2rem 0 3rem;
        justify-content: center;
    }

    /* footer */
    .footer-description{
        max-width: 350px;
    }
    .footer{
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
        justify-content: center;
        gap: 2rem;
        padding: 2rem 0 0 4%;
    }
}

@media(max-width: 860px){
    /* about */
    .about-container{
        flex-direction: column;
        align-items: center;
        text-align: justify;
        justify-content: center;
    }
    .about-title{
        margin: 3rem 0 1rem 2rem;
        font-size: var(--fs-sm-lg);
    }

    /* skill & tools */
    .st-wrapper{
        overflow: hidden;
        width: 100%;
    }
    .st-container2{
        display: flex;
        gap: 0;
        transition: transform 0.5s ease;
    }
    .st-container2 li{
        flex: 0 0 100%;
    }
    .st-container2 img{
        margin-bottom: 1rem;
    }
    .st-container2 figcaption{
        font-size: var(--fs-small);
    }

    /* contact text */
    .contact-text{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-heading{
        margin-top: 1rem;
    }
    /* contact input form */
    .contact-placeholder{
        margin: 2rem 0 0;
        order: 1;
    }
    /* Contact Information */
    .contact-heading2{
        margin-top: -6rem;
        text-align: center;
    }
    .social-links{
        order: 3;
    }
    .social-links-list{
        display: flex;
        gap: 2rem;
        margin-bottom: 3rem;
    }
    .social-links-list span{
        display: none;
    }
    /* Message */
    .success-message{
        margin-bottom: 0;
    }

    /* footer */
    .footer{
        display: flex;
        flex-direction: column;
        padding: 2rem 0 3rem 6rem;
    }
    .footer-description{
        max-width: 500px;
    }
}

@media(max-width: 600px){
    /* Group */
    .navbar-logo,
    .hero-heading,
    .about-heading,
    .projects-heading,
    .contact-heading{
        font-size: var(--fs-md);
    }
    .about-heading1,
    .projects-heading1,
    .contact-heading1,
    .contact-heading2,
    .footer-description,
    .footer-container2 a,
    .footer-container3 a{
        font-size: var(--fs-body);
    }

    /* navbar style */
    .navbar-container{
        align-items: center;
        text-align: center;
    }
    .navbar-logo{
        margin-left: 0;
    }
    .navbar-navigation{
        font-size: var(--fs-sm);
        gap: 1rem;
        margin-left: 0;
    }

    /* hero style */
    .hero-image img{
        margin-top: 11rem;
        width: 200px;
    }
    .hero-description{
        font-size: var(--fs-small);
        max-width: 400px;
    }

    /* about style */
    .about-image img{
        width: 150px;
    }
    .about-description1,
    .about-description2{
        font-size: var(--fs-xs);
    }
    .about-description3{
        margin-bottom: 3rem;
    }

    /* project style */
    .projects-heading{
        margin-bottom: 2rem;
    }
    .projects-heading1{
        margin: 2rem
    }
    .projects-container figcaption{
        font-size: var(--fs-small);
    }

    /* footer style */
    .update-info{
        font-size: var(--fs-xxs);
    }
}

/* Additional */
hr{
    border: 0.5px solid black;
    width: 85%;
    border-color: var(--accent);
}
